html, body{
	margin:0;
	padding:0;
	min-width:1000px;
	min-height:786px;
	width:100%;
	height:100%;
	font-weight: bold;
	font-family:Helvetica, Arial, sans-serif;
	font-size:18px;
	overflow:hidden;
	background: url('../images/background.jpg');
	-webkit-font-smoothing: antialiased;
}

img { border: 0; }
* { outline: 0; }

#firefox_upgrade {
	position:fixed;
	left:50%;
	margin-left:-160px;
	top:50%;
	margin-top:-75px;
	opacity:0;
}

#no_firefox {
	position:fixed;
	left:50%;
	margin-left:-170px;
	top:50%;
	margin-top:-80px;
	opacity:0;
}

video { position: absolute; }

#container {
	width:100%;
	min-height: 100%;
	position: relative;
	visibility:visible;
}

#vidContainer1, #vidContainer2, #vidContainer3, #vidContainer4 {
	cursor:pointer;
	position:absolute;
}

#videocontainer {
	/*background-color: rgba(104, 180, 233, 0.45);*/
	visibility:hidden;
	position:absolute;
}

#info {
	/*background-color: rgba(104, 180, 233, 0.45);*/
	/*position:absolute;*/
	position:relative;
}

#paragraph {
	/*font-size:20px;
	color:#FFF;*/	
	position:absolute;
	opacity:0;
}

#currentchapter {
	position:absolute;
	/*opacity:0;*/
	
}

#ch_pre, #par_pre {
	font-size:18px;
	color:#0E0E0E;	
	float:left;
	position:fixed;
	/*display:inline-block;*/
}

#ch_text, #par_text {
	font-size:30px;
	color:#0E0E0E;	
	/*padding-left:50px;
	padding-top:20px;*/
	padding-left:30px;
	padding-top:10px;
	position:fixed;
}
#navbox {
	background-color: #53565A;
    padding: 5px;
    border-radius: 6px;
    color: white;
}
#navbox a{
	font-size: 15px;
    color: white;
}
#navbox li{
	float: left;
    position: relative;
    list-style: none;
	display:list-item;
}
#navbox ul{
	/*position:absolute;*/
}

#grid{
	/*-webkit-border-top-left-radius: 0.5em;
    -moz-border-radius-topleft: 0.5em;
	-webkit-border-bottom-left-radius: 0.5em;
    -moz-border-radius-bottomleft: 0.5em;*/
}
#grid a {
	width:57px;
	height:24px;
	display:block;
	overflow:hidden;
    text-decoration: none;
    display: block;
}

#navbox img { margin-left: -57px; }
#navbox .current img { margin-left: 0; }

#navbox ul .current, #grid:hover, #big:hover {
    /*background: #d1d1d1; /* for non-css3 browsers */
    /*filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0487c0', endColorstr='#86c3dd'); /* for IE */
    /*background: -webkit-gradient(linear, left top, left bottom, from(#0487c0), to(#86c3dd)); /* for webkit browsers */
    /*background: -moz-linear-gradient(top,  #0487c0,  #86c3dd); /* for firefox 3.6+ */

    /*color: #FFF;
    border-top: solid 1px #e9e9e9;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-shadow: 0 1px 0 rgba(0, 0, 0, .8);*/
}

#grid, #big {
	/*background: #026850; /* for non-css3 browsers */
    /*filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#a1a1a1'); /* for IE */
    /*background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#a1a1a1)); /* for webkit browsers */
    /*background: -moz-linear-gradient(top,  #ebebeb,  #a1a1a1); /* for firefox 3.6+ */

    /*color: #FFFFFF;
    /*border-top: solid 1px #e9e9e9;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
	padding:  8px 20px;*/
    margin: 0;	
	float:left;	
}
#big {
	/*-webkit-border-top-right-radius: 0.5em;
    -moz-border-radius-topright: 0.5em;
	-webkit-border-bottom-right-radius: 0.5em;
    -moz-border-radius-bottomright: 0.5em;*/ 
	
}

#big a{
	width:57px;
	height:24px;
	display:block;
	overflow:hidden;
    text-decoration: none;
    display: block;	
}


#logo {
	position:absolute;	
	opacity:0;
}

/*
	view navigation
*/
#viewNav, #navbox, #start {
	display:inline-block;
	position:relative;
}

#start {
	margin-left:50px;
	opacity:0;
}

#start li {
	font-size:50px;	
}

#intro {
	position:absolute;
	left:0px;
	top:0px;
}

#abbott{
	position:absolute;	
	opacity:0;
}

#viewNav li, #start li {
	padding-left:2px;
    float: left;
    position: relative;
    list-style: none;
	display:block;
}
/* main level link */
#viewNav a, #start a {
	/*background: #026850; /* for non-css3 browsers */
    /*filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#a1a1a1'); /* for IE */
    /*background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#a1a1a1)); /* for webkit browsers */
    /*background: -moz-linear-gradient(top,  #ebebeb,  #a1a1a1); /* for firefox 3.6+ */

    color: #0E0E0E;
    /*border-top: solid 1px #e9e9e9;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-shadow: 0 1px 0 rgba(255, 255, 255, .8);*/
    
    text-decoration: none;
    display: block;
    padding:  2px 5px;
    margin: 0;
    /*-webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;*/
}
/* main level link hover */
#viewNav ul .current a, #viewNav ul li:hover > a, #start ul li:hover > a {
    background: #E0A526; /* for non-css3 browsers */
    /*filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#57c8f8', endColorstr='#0799d7'); /* for IE */
    /*background: -webkit-gradient(linear, left top, left bottom, from(#57c8f8), to(#0799d7)); /* for webkit browsers */
    /*background: -moz-linear-gradient(top,  #57c8f8,  #0799d7); /* for firefox 3.6+ */

    color: #FFF;
    /*border-top: solid 1px #e9e9e9;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-shadow: 0 1px 0 rgba(0, 0, 0, .8);*/
}

/* #viewNav {
	display: flex;
	justify-content: space-around;
} */

/* clearfix */
#viewNav ul:after, #navbox ul:after, #start ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#viewNav ul, #navbox ul, #start ul {
    display: inline-block;
}
html[xmlns] #viewNav ul, #navbox ul, #start ul {
    display: block;
}
* html #viewNav ul, #navbox ul, #start ul {
    height: 1%;
}

/*
	footer player
*/

#footer {
	/*bottom:0;*/
	visibility:hidden;
	height:220px;
	position:absolute;
	
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f8fcfd)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #ffffff,  #f8fcfd); /* for firefox 3.6+ */
	
	border-top: solid 1px #e9e9e9;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	
	-webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
	border-radius: 0.5em;
}

#line, #line2 {
	height:0px;
	position:relative;
	background-color:#FFFFFF;
}

#bottom {
	height: 70px;
	width:100%;
	position: relative;
	
	/*height:0;
	overflow:hidden;
	position:relative;
	width:100%;*/
}

#bottom a {
	overflow:hidden;
    text-decoration: none;
    display: block;	
}

#timesliderBackground {
	/*width:80%;*/
	height:12px;
	background-color: rgb(217,217,214);
	margin-left:160px;
	margin-top:20px;
	border-radius: 0.6em;
	-moz-border-radius: 0.6em;
	-webkit-border-radius: 0.6em;
}
#timeslider{
	cursor: pointer;
	width:20px;
	height:6px;
	margin:0px;
	padding:3px;
	display:inline-block;
	position:relative;
	left:0px;
	background-color:#E0A526;
	border-radius: 0.6em;
	-moz-border-radius: 0.6em;
	-webkit-border-radius: 0.6em;
}
#playpause {
	position:absolute;	
	padding:3px;
	display:inline-block;
	margin-top: -30px;
	float:left;
	opacity:.6;
}
#playpause a {
	width:39px;
	height:39px;
	display:block;
	overflow:hidden;
    text-decoration: none;
    display: block;
}

#backward, #forward {
	position:absolute;	
	padding:3px;
	display:inline-block;
	margin-top: -25px;
	opacity:.6;
}

#indicator{
	position:absolute;
	margin-top: -12px;
	color:#000000;
}

#serial{
	position:relative;
	display:inline-block;
	color:	#FFFFFF;
}
/*#playpause:hover a img{
	margin-left:-39px;
}*/

#disclaimer{
	visibility:hidden;
	position:absolute;	
	color:#FFFFFF;
	background-color:#0E0E0E;
	width:1000px;
	height:500px;
	text-align:center;
	font-size:20px;
}

#disclaimer p {
	width:700px;
	margin:auto;
	padding-top:65px;
}

#disclaimer a{
	text-decoration:none;
	color:#FFF;
}

#sound{
	display:inline-block;
	float:right;
	position:relative;
}

#sound a{
	width:57px;
	height:24px;
	display:block;
	overflow:hidden;
    text-decoration: none;
    display: block;
}

/*
	Tooltip css
*/
	
.customTip {
	color: #fff;
	font-family:Helvetica, Arial, sans-serif;
	font-size:12px;
	width: auto;
	height:auto;
	background-color:#0E0E0E;
	opacity:1;
	z-index: 13000;
}

.tip {
	padding:5px;	
}

/*
	spinner
*/
.spinner {
	position: absolute;
	opacity: .85;
	z-index: 999;
	background: #fff;
}
.spinner-msg {
	text-align: center;
	font-weight: bold;
}

.spinner-img {
	background: url('../images/spinner.gif') no-repeat;
	width: 24px;
	height: 24px;
	margin: 0 auto;
}

.selectedTooltip {
	background-color: #E0A526;
}

#ch_text {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 700px;
    display: block;
    overflow: hidden
}